<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments::head(title='Add a tender: Step 1')"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	
	<h1>Add a tender: Step 1</h1>

	<form th:action='@{/tenders/add}' th:object='${tender}' method='post'>
		<label>First name:
		<span th:if="${#fields.hasErrors('firstName')}" th:errors='*{firstName}'></span>
		<input th:field='*{firstName}' required autofocus>
		</label>
		<label>Last name:
		<span th:if="${#fields.hasErrors('lastName')}" th:errors='*{lastName}'></span>
		<input th:field='*{lastName}' required>
		</label>
		<label>E-mail address:
		<span th:if="${#fields.hasErrors('emailAddres')}" th:errors='*{emailAddress}'></span>
		<input th:field='*{emailAddress}' type='email' required>
		</label>
		<input type='submit' value='Step 2' name='step2'>
	</form>
</body>
</html>